name: collect
on:
  schedule:
    - cron: '*/10 * * * *'
jobs:
  collect_info:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Fetch info
        env:
          STEAM_APIKEY: ${{ secrets.STEAM_APIKEY }}
          STEAM_ID: ${{ secrets.STEAM_ID }}
        run: |
          curl -L -o history.json "https://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=${STEAM_APIKEY}&steamid=${STEAM_ID}&include_appinfo=1"
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
